# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem is a group of resources, people, and technologies that assist companies in applying machine learning and data science to address challenges.

Some of the popular languages that Data Scientists use are

1. Python
2. R
3. Java
4. C++
5. Julia
6. Scala
7. SQL
8. Java Script

Some of the commonly used libraries used by Data Scientists include

1. Pandas
2. NumPy
3. MatPlotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
|----------|
| MySQL |
| PostgreSQL |
| MongoDB |
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
- Python
- R
- Java

## Author
Desire Ghiotto